.header{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(44, 48, 56);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav{
    display: flex;
    gap: 40px;
    font-size: 20px;
    color: azure;
}