
.header{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background-color:var(--c1);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav{
    display: flex;
    gap: 40px;
    font-size: 20px;
    color: var(--c2);
   
}
.nav p{
    transition: all 0.2s;
}

.nav p:hover{
    color: var(--c4);
}