
.portfolio{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c3);
    font-size: 20px;
    color: var(--c2);
}

ul{display: flex;
gap: 60px;}

li{transition: all 0.4s;}
li:hover{
    color: var(--c4);
}