:root {
    --c1: rgb(44, 48, 56);
    --c2: azure;
    --c3: rgb(28, 27, 34);
    --c4:bisque;
}   
.a{
    background-color: var(--c4);
    align-self: center;
    padding: 30px;
    border-radius: 30%;
    margin-top: 20px;
    font-size: 32px;
    transition: all 0.2s;
    border: none;
}
.a:hover {
    background-color: var(--c1);
    color: var(--c2);
 
}
.Main{
    display: flex;
    flex-direction: column;

    background-color: var(--c3);
}